<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mercando </ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal" expand="block" ion-left (click)="openModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
      </ion-button>
      <ion-modal trigger="open-modal" >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Nueva lista</ion-title>
              <ion-buttons slot="end">
                <ion-button [strong]="true" (click)="SaveListItems()">Guardar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input label="Producto"  type="text" [(ngModel)]="newItem.nombre"
                placeholder="Ingresa el nombre del producto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-select label="Tiendas" placeholder="Tienda" [(ngModel)]="newItem.tienda">
                <ion-select-option *ngFor="let tienda of tiendas" [value]="tienda.nombre">{{ tienda.nombre
                  }}</ion-select-option>
              </ion-select>
              <ion-button id="open-modal-2" expand="block" ion-left (click)="openModalStore()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus"><circle cx="12" cy="12" r="10"/>
                  <path d="M8 12h8"/><path d="M12 8v8"/>
                </svg>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-button (click)="addItem()" [strong]="true">Guardar Producto</ion-button>
            </ion-item>
            <ion-list>
              <ion-item>
                <h4 slot="start">Producto</h4>
                <h4 slot="end">Tienda</h4>
              </ion-item>
              <ion-item-sliding *ngFor="let item of items" (ionSwipe)="eliminarItem(item)" >
                <ion-item>
                  <h4 slot="start">{{ item.nombre }}</h4>
                  <h4 slot="end">{{ item.tienda }}</h4>
                </ion-item>

                <ion-item-options side="end">
                  <ion-item-option color="danger" start>
                    Eliminar
                  </ion-item-option>
                </ion-item-options>
                
              </ion-item-sliding>
            </ion-list>

          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-list>
    <ion-item-sliding *ngFor="let lista of listas let i = index"  (ionSwipe)="eliminarLista(lista)">
      <ion-item (click)="showItems(lista)">
        <ion-label>lista de compras: {{i+1}}</ion-label> 
        <ion-label>{{ lista.fecha }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" start>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>